*,
*:before,
*:after {
    font-size: 0px;
    box-sizing: border-box;
}
html {
    border: 0px;
    margin: 0px;
    padding: 0px;
}
body {
    font-family: monospace, system-ui;
}
html,
body,
.iframe,
.iframe body {
    height: 100%;
}

h1 {
    font-size: 36px;
}
h2 {
    font-size: 27px;
}
h3 {
    font-size: 22px;
}
button,
input,
label,
legend,
li,
p,
ul {
    font-size: 14px;
}
strong {
    font-size: inherit;
}
h1,
h2 {
    font-weight: inherit;
}
h3,
label {
    font-weight: bold;
}
p {
    margin: 0px;
    padding: 0px;
}
hr {
    border:  1px solid #000;
}
fieldset {
    border-color: #FFF;
    margin: 16px 0px;
    padding: 10px;
}
legend {
    padding: 0px 11px 0px 6px;
}
button {
    margin-right: 6px;
}
code {
    background: #CCC;
    border: 1px solid #999;
    border-radius: 4px;
    padding: 0px 4px;
}
iframe {
    display: inline-block;
    width: 100%;
    height: 69px;
    border: 0px;
}
.halves > * {
    display: inline-block;
    width: calc(50% - 4px);
    margin-bottom: 20px;
    vertical-align: middle;
}
.halves > *:nth-of-type(odd) {
    margin-right: 8px;
}
.bg-success {
    background: #AFA;
}
.bg-fail {
    background: #FAA;
}
.mb-sm {
    margin-bottom: 10px;
}
.iframe {
    min-height: 100%;
    border: 1px solid #000;
}
.iframe,
.iframe body {
    margin: 0px;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 8px;
}
